.pagina-home {
  color: #000;

  .titulo-home {
    font-size: 2.5rem;
    color: #ffc107;
  }

  .descricao-home {
    font-size: 1.25rem;
    color: #212529;
    margin-bottom: 20px;
  }

  .objetivos-home {
    display: flex;
    justify-content: center;

    .lista-objetivos {
      list-style-type: none;
      padding: 0;
      max-width: 600px;
      width: 100%;
      align-items: center;

      .list-group-item {
        color: #212529;
        border: none; /* Remove as bordas */
        border-radius: 0; /* Remove bordas arredondadas */
        padding: 5px 10px;
        margin-bottom: 3px;
        font-size: 1rem;
        text-align: left;
      }
    }
  }

  .acoes-home {
    a {
      font-size: 1.2rem;
      padding: 10px 20px;
    }

    .botao-principal {
      background-color: #ffc107;
      color: #000;
      border: none;
      &:hover {
        background-color: #e0a800;
      }
    }

    .botao-secundario {
      background-color: #28a745;
      color: #fff;
      &:hover {
        background-color: #218838;
      }
    }
  }
}
