.pagina-home {
  color: #000;

  .titulo-home {
    font-size: 2.5rem;
    color: #ffc107;
  }

  .descricao-home {
    font-size: 1.25rem;
    color: #212529;
    margin-bottom: 20px;
  }

  .objetivos-home {
    display: flex;
    justify-content: center;
    margin: 0 400px;

    .lista-objetivos {
      list-style-type: none;
      padding: 0;
      max-width: 600px;
      width: 100%;
      align-items: center;
      border: 1px solid #ffc107;
      border-radius: 5px;

      .list-group-item,
      .item-objetivo {
        background-color: #ffffff;
        color: #212529;
        border: 1px solid #ffc107;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 5px;
        font-size: 1rem;
        text-align: left;

        &:hover {
          background-color: #ffc107;
          color: #fff;
        }
      }
    }
  }

  .acoes-home {
    a {
      font-size: 1.2rem;
      padding: 10px 20px;
    }

    .botao-principal {
      background-color: #ffc107;
      color: #000;
      border: none;

      &:hover {
        background-color: #e0a800;
      }
    }

    .botao-secundario {
      background-color: #28a745;
      color: #fff;

      &:hover {
        background-color: #218838;
      }
    }
  }
}
