<div class="conversor">
  <h2>Conversor de Moedas</h2>
  
  <select [(ngModel)]="moedaOrigem" id="moedaOrigem">
    <option *ngFor="let moeda of moedas" [value]="moeda.symbol">
      {{ moeda.symbol }} - {{ moeda.name }}
    </option>
  </select>
  
  <select [(ngModel)]="moedaDestino" id="moedaDestino">
    <option *ngFor="let moeda of moedas" [value]="moeda.symbol">
      {{ moeda.symbol }} - {{ moeda.name }}
    </option>
  </select>

  <div>
    <label for="valorOrigem">Valor a Converter:</label>
    <input type="number" [(ngModel)]="valorOrigem" id="valorOrigem">
  </div>
  
  <button (click)="converter()">Converter</button>

  <div *ngIf="resultado">
    <h3>Resultado: {{ resultado.valorConvertido.toFixed(2) }} {{ moedaDestino }}</h3>
    <p>Taxa: {{ resultado.taxa }}</p>
  </div>

  <div *ngIf="mensagemErro" class="error">{{ mensagemErro }}</div>
</div>