.conversor {
  color: #000; 
  padding: 2rem; 
  border-radius: 8px; 
  background-color: #f8f9fa; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  max-width: 600px; 
  margin: 2rem auto; 

  h2 {
    font-size: 2rem; 
    color: #ffc107; 
    text-align: center; 
    margin-bottom: 1.5rem; 
  }

  select, 
  input[type="number"] {
    width: 100%; 
    padding: 0.5rem; 
    margin-bottom: 1rem; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 1rem; 
  }

  button {
    background-color: #ffc107; 
    color: #000; 
    padding: 0.75rem 1.5rem; 
    border: none; 
    border-radius: 5px; 
    font-size: 1.2rem; 
    cursor: pointer; 
    transition: background-color 0.3s;
    display: block; // Adiciona display block
    margin: 0 auto; // Centraliza horizontalmente
    text-align: center; // Garante que o texto do botão fique centralizado

    &:hover {
      background-color: #e0a800; 
    }
  }

  .error {
    color: #dc3545; 
    margin-top: 1rem; 
    font-weight: bold; 
  }

  h3 {
    margin-top: 1.5rem; 
    color: #28a745; 
  }
}
